<img src='{{movie.image}}' alt="movie poster">
<h1>{{movie.title}}</h1>
<h2>Director: {{movie.director}}</h2>
<h2>Stars</h2>
<p>Plot: {{movie.description}}</p>
<p>Showtimes:</p>
<p><a href='/movies'>BACK</a></p>